body{
	min-height: 100%;
	width: 100%;
}

.container{
	margin: 0 auto;
	width: 800px;
}

.grid-content{
	width: max-content;
	display: grid;
	grid-template: repeat(6, 30px)/ repeat(6, 30px);
	margin-bottom: 30px;
}
.grid-content__item{
	border: 1px solid #000;
	background-color: #fff;
	width: 100%;
	height: 100%;
}

/* .audio{
	display: none;
}
.audio._visible{
	display: block;
} */